

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-variation-settings:
    "wdth" 100;
    .dark2{color: #474747}
} 
nav ul {display: flex;align-items: center;}
.text-primary{color: #FD6E0A;}
nav ul li {list-style: none; 
margin-right: 51px;}
nav li a {text-decoration: none;}
nav{display: flex;
align-items: center;
justify-content: space-between;
/* margin: 50px; */

}
.button2{
background-color: #FD6E0A;
font-weight: bold;
color: white;
border-radius: 5px;
padding: 3px 18px;
border: 1px;
}
main section{margin-top: 180px;
margin-bottom: 180px;}
.hedder{
    background-image: url(../images/developer.png),url(../images/header_bg.png); background-repeat: no-repeat; background-position: top left,bottom right;
}
/* banner */
.banner{display: flex; justify-content: space-between;}
.banner-con{
    max-width: 580px;
}
.banner-g{font-weight: 600
; font-size: 30px;}
.banner-t{
    font-weight: bold;
    font-size: 85px;
}
banner-dis{
    font-size: 18px;
    font-weight: lighter;
}

.sectiont{
    font-size: 35px;
    color: 000000;
    font-weight: bold;
}
.sectiont-dis{
    font-size: 18px;
    color: 757575;
    font-weight: 600;
}
.background-second{
    background-color: #FFF8F3;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
padding: 130px 155px;
text-align: center;
margin-top: 160px;

}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-description{
    font-weight: 600;
}
.text-center
{text-align: center;}
.skill-container{display: flex;
    gap: 24;}
.skill{padding: 33px;
    box-shadow: 0px 6px 50px 0px #706f6f;
margin: 30px;}
